:root {
    --primary-color: #6f4948;
    --secondary-color: #d3acab;
    --tertiary-color: #fcf5e1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 45px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 35px;
}

header nav ul li a:hover{
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* about me style start */
.bio {
    background-size: cover;
    overflow: auto;
    background-image: url(../images/background-1.jpg);
}

.bio h2 {
    font-size: 40px;
    color: var(--primary-color);
    padding: 10px 100px 0 100px;
}

.bio-content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}

.bio-content img {
    width: 20;
    margin: 3.5%;
    border-color: var(--primary-color);
    border-radius: 15px;
    box-shadow: 1px 5px 8px var(--tertiary-color);
}

.transbox {
    padding: 5px;
    background: hsla(0, 100%, 90%, 0.3);
    border-radius: 15px;
    width: 65%;
    margin: 3.5%;
}

.bio-content p {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: var(--tertiary-color);
    text-align: left;
    line-height: 1.5;
}
/* about me style end */

/* my work style start */
.work-content {
    background-color: var(--tertiary-color);
}

.work-content h2 {
    font-size: 40px;
    color: var(--primary-color);
    padding: 10px 100px 0 100px;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: fit-content;
    border-radius: 15px;
}

.icons a {
    flex: 1;
    margin: 20px;
}

.icons a img {
    border-radius: 15px;
    box-shadow: 0 3px 8px var(--primary-color);
    transition: all 300ms ease-in-out;
}

.icons a img:hover {
    box-shadow: 0 3px 30px var(--primary-color);
}

/* my work style end */

/* contact me style start */
.contact-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    background-image: url(../images/background-1.jpg)
}

.contact-form {
    background-color: var(--tertiary-color);
    padding: 20px;
    margin: 30px;
    color:var(--primary-color);
    border: solid 3px var(--primary-color);
    bottom: 10px;
    right: 500px;
    border-radius: 15px;
}

.contact-form h2 {
    font-size: 36px;
}

.contact-form p {
    margin: 5px 0 15px 0;
    font-size: 16px;
}

.contact-form input {
    border: 1px solid var(--primary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--primary-color);
    width: 100%;
    margin-bottom: 15px;
}

.contact-form button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 20px;
    padding: 5px;
}
/* contact me style end*/

/* Meida Query for Smaller Desktop and Laptop Screens and Larger Tablets */
@media screen and (max-width: 980px) {

.icons a {
    width: 400px;
    min-width: 0;
    
}

}

/* Media Query for Smaller Tablets and Mobile Phones in Landscape */
@media screen and (max-width: 768px) {

.icons a {
    width: 300px;
    min-width: 0;

    }
}

/* Media Query for Mobile Phones in Portrait */
@media screen and (max-width: 575px) {

.icons a {
    width: 200px;
    min-width: 0;
    }
}